<app-nav-bar (paiementEventEmitter)="onActionEvent($event)"></app-nav-bar>

<div *ngIf="details" >
  <div class="form-group row d-flex justify-content-center mt-4">
    <label  class="col-sm-4 ">Premier apport à régler aujurd'hui</label>
    <label  class="col-sm-4 ">{{details.down_payment_amount}}</label>
  </div>
  <div class="form-group row d-flex justify-content-center mt-4">
    <label style="font-weight: bold"  class="col-sm-4 ">Suivi de {{details.instalments.length}} mensualités de : </label>
    <label  class="col-sm-4 ">{{details.instalments[0].instalment_amount}}</label>
  </div>
  <div class="form-group row d-flex justify-content-center mt-4">
    <label style="font-weight: bold"  class="col-sm-4 ">Total : </label>
    <label  class="col-sm-4 ">{{details.payment_amount + details.total_cost}}</label>
  </div>

  <div class="form-group row d-flex justify-content-center mt-4">
    <label class="col-sm-4 ">Dont cout de crédit  : </label>
    <label  class="col-sm-4 ">{{details.accrued_interest_amount}}</label>
  </div>

  <div class="form-group row d-flex justify-content-center mt-4">
    <label class="col-sm-4 "style="font-weight: bold">TAEG fixe : </label>
    <label  class="col-sm-4 ">{{details.effective_annual_percentage_rate}} %</label>
  </div>
  <div *ngIf="testCms$ | async as cms" class="form-group " style="margin-top: 120px">
    <label class="row d-flex justify-content-center mt-4" for="exampleFormControlTextarea1" style=" margin-bottom: 15px;">Conditions générales</label>
    <div class="form-control" id="exampleFormControlTextarea1" rows="3"   [innerHtml]="_returnHtmlFromRichText(cms.textArea)">

    </div>
  </div>
</div>
