<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">API MARKETING</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <div *ngFor="let p of paiements">
      <li class="nav-item" *ngIf="p.maximum_number_of_instalments==2">
        <a class="nav-link" (click)="onSelectPaiement(p)">Paiement 3 fois</a>
      </li>
      <li class="nav-item" *ngIf="p.maximum_number_of_instalments==3">
        <a class="nav-link" (click)="onSelectPaiement(p)">Paiement 4 fois</a>
      </li>
      <li class="nav-item" *ngIf="p.maximum_number_of_instalments==5">
        <a class="nav-link" (click)="onSelectPaiement(p)">Paiement 5 fois</a>
      </li>
      <li class="nav-item" *ngIf="p.maximum_number_of_instalments==10">
        <a class="nav-link" (click)="onSelectPaiement(p)">Paiement 10 fois</a>
      </li>
      <li class="nav-item" *ngIf="p.maximum_number_of_instalments==20">
        <a class="nav-link" (click)="onSelectPaiement(p)">Paiement 20 fois</a>
      </li>

    </div>


  </ul>
</nav>
